.objects-container {
  display: flex;
  justify-content: space-evenly;
  /* this is the default for object grids */
  flex-wrap: wrap;
}

.object-img {
  /* We want a max of 5 objects in a row but allow for additional spacing */
  width: calc(100% / 5 - 3%);
object-fit: contain;
  transition: 0.2s;
}

.object-hover:hover,
.object-hover:focus {
  transform: scale(1.2);
}
