.feedback-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%; /* Full height of the parent */
}

.feedback-screen > h1 {
  font-size: 5rem;
  margin-bottom: 1.25rem;
}

.feedback-img-container {
  height: 100%;
  display: flex;
}

.feedback-img {
  width: 90%;
  height: auto;
  margin: auto;
}
