.question-frame-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.instructions-container {
  width: 100%;
}

.instructions-text {
  text-align: center;
}

.visuals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}

.choices-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
