.choice-container {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: space-evenly;
}

.choice-button {
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  font-family: 'Nunito';
}

.choice-button:hover,
.choice-button:focus {
  transform: scale(1.1);
}

.choice-button-small {
  border-radius: 1rem;
  border: solid 0.3rem;
}

.choice-button-large {
  border-radius: 1.5rem;
  border: solid 0.5rem;
}
