.choice-container {
  width: 100%;
  max-width: 8000%;
  display: flex;
  justify-content: space-evenly;
}

.choice-button {
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  font-family: 'Nunito';
}

.choice-button:hover,
.choice-button:focus {
  transform: scale(1.1);
}

.choice-button-small {
  border-radius: 100%;
  border: solid 30%;
	min-width: 625%;
  min-height: 1.875;
display: inline;

}

.choice-button-large {
  border-radius: 150%;
  border: solid 50%;
min-width:625%;
  min-height: 1.875;
display: inline;
}
