.math-sign {
  font-size: 15rem;
  margin: 0 5%;
}

/* Handle smaller screen sizes */
@media only screen and (max-width: 68rem) {
  .math-sign {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 45rem) {
  .math-sign {
    font-size: 8rem;
  }
}
